<div class="container vh-100 d-flex align-items-center justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-sm rounded-3">
      <div class="card-body p-4">
        <div class="justify-content-center d-flex"><img src="money.png" width="100" alt=""/></div>
        
        <h4 class="text-center mb-4">Calculadora de rendimentos de CDB</h4>
        <form #form="ngForm" ngNativeValidate (ngSubmit)="Calcular(form)">
          <div class="mb-3">
            <label for="valor"
                   class="form-label">Valor Inicial (R$)</label>
            <input type="number"
                   class="form-control"
                   name="valor"
                   placeholder="Ex: 1000"
                   min="0.01"
                   max="9999999999999999"
                   step="0.01"
                   [(ngModel)]="valInicial"
                   required>
          </div>
          <div class="mb-3">
            <label for="prazo"
                   class="form-label">Prazo (em meses)</label>
            <input type="number"
                   class="form-control"
                   name="prazo"
                   placeholder="Ex: 12"
                   min="2"
                   max="1200"
                   step="1"
                   [(ngModel)]="prazoMaximo"
                   required>
          </div>
          <button type="submit"
                  class="btn btn-success w-100">
            Calcular Rendimento
          </button>

          <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
            {{ errorMessage }}
            <button type="button" class="btn-close" aria-label="Close" (click)="dismissError()"></button>
          </div>
        </form>
        <hr class="my-4">

        <h4 class="text-center mb-4">Retornos do investimento</h4>
        <div class="mb-3">
          <label for="Bruto" class="form-label">
            Retorno Bruto (R$)
          </label>
          <input type="text"
                 class="form-control"
                 name="Bruto"
                 [value]="retornoBruto | currency:'BRL':'symbol':'1.2-2'"
                 readonly>
        </div>

        <div class="mb-3">
          <label for="Liquido" class="form-label">
            Retorno Líquido (R$)
          </label>
          <input type="text"
                 class="form-control"
                 name="Liquido"
                 [value]="retornoLiquido | currency:'BRL':'symbol':'1.2-2'"
                 readonly>
        </div>
      </div>
    </div>
  </div>
</div>
